.app {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.app__movieContainer {
  box-sizing:border-box;
background-color: black;
color :rgb(16, 9, 9);
margin: 4%;
padding-left: 10%;
margin-bottom: 20%;

}

/* Add more styles as needed */

/* Reset some default styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #00050d;
}

/* Header */
.header {
  
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header__logo {
  width: 150px;
  height: auto;
}

/* Main Content */
.content {
  padding: 20px;
  padding-bottom: 60px; /* Adjust this to match the footer's height */
}

/* Footer */


.app-container {
  
  font-family: Arial, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

